
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');



*,
*::before,
*::after {
    box-sizing: border-box;
}


*/
:where(ul, ol):where([class]) {
    padding-left: 0;
}


body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}


:where(
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    dl
) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}


*/
:where(ul[class]) {
    list-style: none;
}


*/
img {
    display: block;
    max-width: 100%;
}


input,
textarea,
select,
button {
    font: inherit;
}

html {


    height: 100%;

    scroll-behavior: smooth;
}

body {


    min-height: 100%;


    line-height: 1.5;
}



@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}



body {
    font-family: 'ABeeZee';
    font-weight: 400;
    overflow-x: hidden;
}


.header {
    position: absolute;
    z-index: 1;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding-inline: 32px;
    background-color: transparent;
    padding: 20px 150px;
}

.header-logo {
    flex-shrink: 0;
}

.header-navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 70px;
}

.header-navbar a {
    position: relative;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

.header-navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    opacity: 0;
    background-color: rgba(34, 53, 111, 1);
    transform: translateY(10px);
    transition: opacity 0.3s linear;
}

.header-navbar a.active::after,
.header-navbar a:hover::after {
    opacity: 1;
}

.header-button {
    width: 150px;
    height: 50px;
    background-color: rgba(249, 182, 64, 1);
    color: rgba(255, 255, 255, 1);
    font-style: italic;
    border: none;
    border-radius: 50px;
}

.header-button:hover {
    cursor: pointer;
}


/* Секция Offer */
.offer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(244, 249, 226, 1);
    padding: 0 70px 0 170px;
    height: 100vh;
}

.offer-description {
    margin-top: 250px;
    color: rgba(34, 53, 111, 1);
}

.offer-description h1 {
    font-size: 48px;
    font-weight: 200;
    font-style: italic;
    line-height: 50px;
}

.offer-description p {
    width: 530px;
    font-size: 24px;
    line-height: 42px;
    margin-top: 50px;
}

.offer-dino-image {
    margin-top: 180px;
}


/* Секция Description */
.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(98, 208, 223, 1);
    padding-left: 170px;
}

.description-text {
    color: rgba(255, 255, 255, 1);
}

.description-text h2 {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    line-height: 25px;
}

.description-text p {
    width: 530px;
    margin-top: 40px;
    font-size: 24px;
    font-style: italic;
    line-height: 35px;
    text-align: justify;
}


/* Секция Services */
.services-description {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.services-description p {
    width: 700px;
    font-size: 24px;
    font-style: italic;
    line-height: 35px;
    color: rgba(34, 53, 111, 1);
}

.services-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.service-item {
    height: 480px;
}

.service-item p {
    width: 200px;
    position: relative;
    font-size: 32px;
    font-style: italic;
    line-height: 35px;
    color: rgba(255, 255, 255, 1);
    margin: 130px 0 0 70px;
}

.service-item p::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 340px;
    height: 1px;
    background-color: rgba(255, 255, 255, 1);
    transform: translateY(-30px);
}


/* Секция Rental */
.rental {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
}

.rental-description {
    font-size: 36px;
    font-style: italic;
    color: rgba(34, 53, 111, 1);
}

.rental-description h3 {
    font-weight: 200;
    line-height: 30px;
}

.rental-description p {
    width: 600px;
    line-height: 50px;
    margin-top: 50px;
}